@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projekt zaliczeniowy z zaawansowanych technik internetowych</h1>
    <p class="lead">Temat projektu: Serwis ogłoszeniowy</p>
    <p class="lead">Autorzy: Ewelina Łabędzka, Monika Wilczyńska, Piotr Rajtar</p>
</div>
